*
body{
	font-family:"times new roman";
	margin:0;
	padding:0;
	background:snow;
}

nav{ 
	 margin:5px;
	 padding:5px;
	 margin-left:140px;
	 
	 
	
}


button{
	background-color:black;
	width:auto;
	height:35px;
	border:2px outset black;
	border-radius:7px;

}
a{
	text-decoration:none;
	color:darkkhaki;
	
}

#hd{
	background-color:lightblue;
	width:auto;
	height:50px;
	margin-top:-23px;
	
}

#co{
	margin-top:-60px;
}

#sidebar 
{
	height:550px;
	width:145px;
	background-color:lightblue;
}
ul li {
	text-decoration:none;
	list-style:none;
	padding:0.5px;
}
#ula{
	margin-left:-40px;

}
#btn{
	
	width:140px;
    text-align:left;
}
img{
	height:120px;
	width:120px;
	box-shadow:5px 5px 5px 5px;
	padding:7px;
	margin-top:-43px;
	color:#40e0d0 ;
	border-radius:10px ;
	
}

#midbar {
	height:550px;
	width:1101px;
	background-color:lemonchiffon;
	margin-top:-550px;
	margin-left:145px;
	background-image:url(images/imag1.jpg);
	opacity:0.8;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: cover ;
	
}
p{
	color:black;
}


footer{
	background-color:mediumaquamarine;
	opacity:0.8;
	width:auto;
	height:50px;
	line-height:35px;
	margin-top:-16px;
	opacity:1;
	
}
